ul {
    /* margin: 0;
    padding: 0; */
    list-style: none;
  }
  
  h2,
  h3,
  a {
    color: #34495e;
  }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
    font-size: 1.45em;
  }

  .container-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .logo a,

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  }
  
  .nav-items{
    display: flex;

    padding: 10px;
  }
  /* .loading {
    opacity: 0;
    transition: all 0.2s ease-in;
  } */
  
  /* .loaded {
    opacity: 1;
    transition: all 0.2s ease-in;
  } */